h1{
    background-color: antiquewhite;
    background-origin:content-box;
    color: brown;
    text-align: center;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    margin-top: 25px;
    padding: 15px;
}
button{
    background-color: khaki;
    text-align: center;
}
body{
    background-attachment: fixed;
    background-position: center;
    background-color: lawngreen;
    
}
img{
    position:right;
}